.navigation {
  position: relative;
  padding: 3em 50px 1em 0;
  height: 12.5vh;

  @media screen and (min-width: 768px) {
    height: 25vh;
  }
}

.navigation--pinned {
  position: fixed;
  top: 0;
  right: 50px;
  z-index: 10;
}

.navigation__title {
  color: var(--navColor);
  letter-spacing: 0.2em;
  font-weight: 800;
  font-size: 1.5em;
  opacity: 0;

  .navigation--pinned & {
    opacity: 1;
  }
}

.navigation ul {
  float: right;
  height: 1em;
}

.navigation li {
  display: inline-block;
  padding-right: 1em;
  padding-left: 0.33em;
  width: 20%;
  border-left: 0.5em solid transparent;
  text-decoration: none;

  &:hover {
    border-color: var(--accentDark);
  }
}

.navigation li:nth-of-type(3) {
  padding-right: 0;
}

.navigation a {
  display: inline-block;
  float: right;
  color: var(--navColor);
  text-decoration: none;
}
