.navigation {
  position: relative;
  padding: 1em 50px 1em 0;
  height: 12.5vh;

  @media screen and (min-width: 768px) {
    
  }
  
  @media screen and (min-width: 1000px) {
    padding: 3em 50px 1em 0;
    height: 25vh;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
    z-index: -1;
    width: 0;
    background: #ffffff;
    content: "";
    // transform: translateX(50vw);
    transition: all 0.3s var(--easeInQuart);
  }
}

.navigation .container {
  position: relative;
}

.navigation--pinned {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 1em 0;
  width: 100%;
  height: auto;

  .container {
    margin: 0 50px;
  }

  &:after {
    right: 0;
    left: 0;
    width: 200%;
  }
}

.navigation__title {
  color: var(--navColor);
  letter-spacing: 0.2em;
  font-weight: 800;
  font-size: 1.5em;
  opacity: 0;
  
  .navigation--pinned & {
    opacity: 1;
  }
}

.navigation ul {
  position: relative;
  z-index: 2;
  float: right;
  height: 1em;
}

.navigation li {
  display: inline-block;
  padding-right: 1em;
  padding-left: 0.33em;
  width: 20%;
  border-left: 0.5em solid transparent;
  text-decoration: none;

  &:hover {
    border-color: var(--accentDark);
  }
}

.navigation li:nth-of-type(3) {
  padding-right: 0;
}

.navigation a {
  display: inline-block;
  float: right;
  color: #1d1d1d;
  text-decoration: none;
}
