.navigation {
  height: 12.5vh;
  padding: 3em 50px 1em 0;
  
  @media screen and (min-width: 768px) {
    height: 25vh;
  }
}

.navigation--pinned {
  position: fixed;
  top: 0;
  right: 50px;
  z-index: 10;
}

.navigation__title {
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  opacity: 0;
  
  .navigation--pinned & {
    opacity: 1;
  }
}

.navigation ul {
  float: right;
  height: 1em;
}

.navigation li {
  width: 20%;
  display: inline-block;
  text-decoration: none;
  padding-right: 1em;
  padding-left: 0.33em;
  border-left: 0.5em solid transparent;

  &:hover {
    border-color: var(--orange);
  }
}

.navigation li:nth-of-type(3) {
  padding-right: 0;
}

.navigation a {
  display: inline-block;
  color: #1d1d1d;
  text-decoration: none;
  float: right;
}