.social {
  margin-top: 6em;
  margin-left: -50px;
  width: 100%;
  background: var(--accentLight);
  text-align: center;
}

.social-wrap {
  margin-top: 6em;
  padding-bottom: 3em;
}

.social-wrap__item {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: var(--accentLight);
  line-height: 45px;

  &:first-of-type {
    margin-right: 0.33em;
  }

  &:hover {
    border-color: #ffffff;
  }
}

.social-wrap__item img {
  display: block;
  margin: 6px auto;
}

.social-wrap__item:hover img {
  fill: var(--accentLight);
}

.social__copyright {
  padding-bottom: 6em;
  color: #ffffff;
}
